<div class="container-fluid">
    <div class="row">
      Form value: {{ formPassFilters.value | json }}
      <div class="col-md-12">
        <div class="card">
          <div class="header">
          <h4 class="title">Pagamentos a serem efetuados</h4>
            <p class="category">Fique atendo! Não deixe suas contas atrasarem, assim você evita o pagamento de juros.</p>
          </div>
          <form [formGroup]="formPassFilters" novalidate (ngSubmit)="passFilter(formPassFilters.value)">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-3">
                <div formGroupName="account">
                  <div class="form-group">
                    <label>Empresa</label>
                    <select class="form-control border-input" formControlName="id_account">
                      <option *ngFor="let pro of providers" [value]="pro.id_provider">{{pro.name_provider}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>Período</label>
                  <select class="form-control border-input" #periodo formControlName="periodo">
                    <option value=0>Próximos 10 dias</option>
                    <option value=1>Próximos 30 dias</option>
                    <option value=2>Próximo mês</option>
                    <option value=3>Mês Atual</option>
                    <option value=4>Todas as contas atrasadas</option>
                    <option value=5>Personalizar</option>
                  </select>
                </div>
              </div>
              <div *ngIf="periodo.value == 5">
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Data inicial</label>
                    <input type="date" class="form-control border-input" formControlName="initDate">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>Data final</label>
                    <input type="date" class="form-control border-input" formControlName="finalDate">
                  </div>
                </div>
              </div>
             
              <div class="col-xs-2">
                <div *ngIf="formPassFilters.valid">
                  <a class="btn btn-sm btn-success btn-icon" (click)="passFilter(formPassFilters.value)">
                      <i class="ti-search"></i></a>
                  </div>
              </div>
            </div>
          </form>
          <div class="content table-responsive table-full-width">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Vencimento</th>
                  <th>Pago?</th>
                  <th>Empresa</th>
                  <th>Descrição</th>
                  <th>Sub-categoria</th>
                  <th>Entrada</th>
                  <th>Saída</th>
                  <th>Opções</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lc of launches">
                  <td>{{lc.dt | date: "dd/MM/yyyy" }}</td>
                  <td> </td>
                  <td>{{lc.provider.name_provider}}</td>
                  <td>{{lc.description}}</td>
                  <td>{{lc.subCategory.subCategoryName}}</td>
                    <td *ngIf="lc.typeOfLaunch == 'C'" >{{lc.pay_value | currency: 'BRL': true}}</td>
                    <td *ngIf="lc.typeOfLaunch !== 'C'"> </td>
                    <td *ngIf="lc.typeOfLaunch == 'S'" >{{lc.pay_value | currency: 'BRL': true}}</td>
                    <td *ngIf="lc.typeOfLaunch !== 'S'"> </td>
                    <td> 
                      <button class="btn btn-sm btn-success btn-icon"><i class="ti-files"></i></button>
                      <button class="btn btn-sm btn-warning btn-icon" (click)="changeLaunche(lc)" ><i class="ti-settings"></i></button>
                      <button class="btn btn-sm btn-danger btn-icon" (click)="deleteLaunche(lc.id_launch)"><i class="ti-trash"></i></button>
                    </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td><b>Totais</b></td>
                  <td><b>{{sumEntrada | currency: 'BRL': true}}</b></td>
                  <td><b>{{sumSaida | currency: 'BRL': true}}</b></td>
                  <td> </td>
                  <td> </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>