<div class="col-md-6">
    <div class="card">
        <div class="content">
            <div>
                <p>{{accInput.name_account}}</p>
                <hr />
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class={{classIcon}}>
                        <i class={{icon}}></i>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="numbers">
                        <p>Saldo</p>
                        ${{accInput.balance}}
                    </div>
                </div>
            </div>
            <div class="footer">
                <hr />
                <div class="stats">
                    <a class="btn btn-sm btn-success" (click)="modifyAccount(acc)">
                        <i class="ti-settings"></i>
                    </a> Editar
                </div>
            </div>
        </div>
    </div>
</div>